OPENAI_API_KEY=
TAVILY_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION_MARKET=battery_market_market
QDRANT_COLLECTION_LG=battery_market_lg
QDRANT_COLLECTION_CATL=battery_market_catl
